# Configuration file

##########################################################################################################
# tickable_entities
#--------------------------------------------------------------------------------------------------------#
# Entities to be enhanced, will show everything ZombieAwareness should be able to enhance, only zombie based mobs and some others are default on, if a mob uses ground pathfinding and is able to be hostile you can try enabling more from other mods, but how well the enhancing works depends on how the mod implemented their mob
##########################################################################################################

tickable_entities {
    B:AngryChicken=false
    B:Blaze=false
    B:BrainyZombie=false
    B:CaveSpider=false
    B:Creeper=false
    B:CultistCleric=false
    B:CultistKnight=false
    B:CultistLeader=false
    B:CultistPortalGreater=false
    B:CultistPortalLesser=false
    B:ElderGuardian=false
    B:EldritchCrab=false
    B:EldritchGolem=false
    B:EldritchGuardian=false
    B:EldritchWarden=false
    B:EnderDragon=false
    B:EnderSlime=false
    B:Enderman=false
    B:Endermite=false
    B:EvocationIllager=false
    B:Firebat=false
    B:Ghast=false
    B:Giant=false
    B:GiantBrainyZombie=false
    B:Guardian=false
    B:Husk=true
    B:IllusionIllager=false
    B:InhabitedZombie=false
    B:LavaSlime=false
    B:MindSpider=false
    B:Pech=false
    B:PigZombie=false
    B:Shulker=false
    B:Silverfish=false
    B:Skeleton=true
    B:Slime=false
    B:Spellbat=false
    B:Spider=false
    B:Stray=false
    B:TaintCrawler=false
    B:TaintSeed=false
    B:TaintSeedPrime=false
    B:TaintSwarm=false
    B:Taintacle=false
    B:TaintacleGiant=false
    B:TaintacleTiny=false
    B:ThaumSlime=false
    B:Vex=false
    B:VindicationIllager=false
    B:Wisp=false
    B:Witch=true
    B:WitherBoss=false
    B:WitherSkeleton=true
    B:Zombie=true
    B:ZombieVillager=true
    B:abyssalcraft.Jzahar=false
    B:abyssalcraft.abygolem=false
    B:abyssalcraft.abyssalzombie=false
    B:abyssalcraft.antiabyssalzombie=false
    B:abyssalcraft.anticreeper=false
    B:abyssalcraft.antighoul=false
    B:abyssalcraft.antiplayer=false
    B:abyssalcraft.antiskeleton=false
    B:abyssalcraft.antispider=false
    B:abyssalcraft.antizombie=false
    B:abyssalcraft.chagaroth=false
    B:abyssalcraft.chagarothfist=false
    B:abyssalcraft.chagarothspawn=false
    B:abyssalcraft.demonchicken=false
    B:abyssalcraft.demoncow=false
    B:abyssalcraft.demonpig=false
    B:abyssalcraft.demonsheep=false
    B:abyssalcraft.depthsghoul=false
    B:abyssalcraft.dragonboss=false
    B:abyssalcraft.dragonminion=false
    B:abyssalcraft.dreadgolem=false
    B:abyssalcraft.dreadguard=false
    B:abyssalcraft.dreadling=false
    B:abyssalcraft.dreadspawn=false
    B:abyssalcraft.evilchicken=false
    B:abyssalcraft.evilcow=false
    B:abyssalcraft.evilpig=false
    B:abyssalcraft.evilsheep=false
    B:abyssalcraft.greaterdreadspawn=false
    B:abyssalcraft.gskeleton=false
    B:abyssalcraft.jzaharminion=false
    B:abyssalcraft.lesserdreadbeast=false
    B:abyssalcraft.lessershoggoth=false
    B:abyssalcraft.omotholghoul=false
    B:abyssalcraft.remnant=false
    B:abyssalcraft.shadowbeast=false
    B:abyssalcraft.shadowboss=false
    B:abyssalcraft.shadowcreature=false
    B:abyssalcraft.shadowmonster=false
    B:ancient_golem=false
    B:babyheatscarspider=false
    B:blueslime=false
    B:"botania:pinkWither"=false
    B:bwm_jungle_spider=false
    B:crackedpigzombie=true
    B:crackedzombie=true
    B:"draconicevolution:ChaosGuardian"=false
    B:"endermanevo:evolved_enderman"=false
    B:"endermanevo:evolved_endermite"=false
    B:"endermanevo:frienderman"=false
    B:enderutilities.endermanfighter=false
    B:entity_sheared_creeper=false
    B:heatscarspider=false
    B:magma_monster=false
    B:magma_monster_grunt=false
    B:muse=false
    B:"nex:bossGhastQueen"=false
    B:"nex:monsterBoneSpider"=false
    B:"nex:monsterBrute"=false
    B:"nex:monsterEmber"=false
    B:"nex:monsterGhastling"=false
    B:"nex:monsterNethermite"=false
    B:"nex:monsterSpinout"=false
    B:"nex:monsterSpore"=false
    B:"nex:monsterSporeCreeper"=false
    B:"nex:monsterWight"=false
    B:"nex:neutralMogus"=false
    B:"nex:neutralSalamander"=false
    B:nitrocreeper=true
    B:pink_slime=false
    B:pixie=false
    B:"primal:bear_black"=false
    B:"primal:bear_brown"=false
    B:"primal:canis_campestris"=false
    B:"primal:creeper_nether"=true
    B:"primal:gator"=false
    B:"primal:shark_hammerhead"=false
    B:primitivemobs.baby_spider=false
    B:primitivemobs.bewitched_tome=false
    B:primitivemobs.blazing_juggernaut=false
    B:primitivemobs.brain_slime=false
    B:primitivemobs.festive_creeper=false
    B:primitivemobs.haunted_tool=false
    B:primitivemobs.mimic=false
    B:primitivemobs.mother_spider=false
    B:primitivemobs.rocket_creeper=false
    B:primitivemobs.skeleton_warrior=false
    B:primitivemobs.support_creeper=false
    B:primitivemobs.treasure_slime=false
    B:primitivemobs.trollager=false
    B:tconstruct.blueslime=true
    B:thermalfoundation.basalz=false
    B:thermalfoundation.blitz=false
    B:thermalfoundation.blizz=false
    B:twilightforest.adherent=false
    B:twilightforest.armored_giant=false
    B:twilightforest.blockchain_goblin=false
    B:twilightforest.boggard=false
    B:twilightforest.death_tome=false
    B:twilightforest.fire_beetle=false
    B:twilightforest.giant_miner=false
    B:twilightforest.goblin_knight_lower=false
    B:twilightforest.goblin_knight_upper=false
    B:twilightforest.harbinger_cube=false
    B:twilightforest.hedge_spider=false
    B:twilightforest.helmet_crab=false
    B:twilightforest.hostile_wolf=false
    B:twilightforest.hydra=false
    B:twilightforest.ice_crystal=false
    B:twilightforest.king_spider=false
    B:twilightforest.knight_phantom=false
    B:twilightforest.kobold=false
    B:twilightforest.lich=false
    B:twilightforest.lich_minion=false
    B:twilightforest.maze_slime=false
    B:twilightforest.mini_ghast=false
    B:twilightforest.minoshroom=false
    B:twilightforest.minotaur=false
    B:twilightforest.mist_wolf=false
    B:twilightforest.mosquito_swarm=false
    B:twilightforest.naga=false
    B:twilightforest.pinch_beetle=false
    B:twilightforest.redcap=false
    B:twilightforest.redcap_sapper=false
    B:twilightforest.roving_cube=false
    B:twilightforest.skeleton_druid=false
    B:twilightforest.slime_beetle=false
    B:twilightforest.snow_guardian=false
    B:twilightforest.snow_queen=false
    B:twilightforest.stable_ice_core=false
    B:twilightforest.swarm_spider=false
    B:twilightforest.tower_broodling=false
    B:twilightforest.tower_ghast=false
    B:twilightforest.tower_golem=false
    B:twilightforest.tower_termite=false
    B:twilightforest.troll=false
    B:twilightforest.unstable_ice_core=false
    B:twilightforest.ur_ghast=false
    B:twilightforest.winter_wolf=false
    B:twilightforest.wraith=false
    B:twilightforest.yeti=false
    B:twilightforest.yeti_alpha=false
    B:wasp=false
}


